.navbarContainer
    display: flex
    justify-content: space-between
    align-items: center
    height: 8vh
    width: 100%
    padding-right: 10vw
    padding-left: 19vw
    background-color: white

.itemsContainer
    display: flex
    justify-content: space-between
    align-items: flex-end
    width: 40%

.logo
    width: 150px
    height: auto

.home
    font-weight: 600
    padding-bottom: 0

.favs
    color: #f5c518
    font-weight: 600
    padding-bottom: 0
