.previewContainer
    padding-top: 14vh
    padding-bottom: 14vh
    width: 100vw
    height: auto
    display: flex
    flex-direction: column
    // justify-content: center
    align-items: center
    // background-color: #080808

.topInfo
    width: 100vw
    display: flex
    justify-content: space-around
    align-items: flex-end
    color: black

.viewMore
    color: #f5c518

.title
    font-size: 25px

.movies
    padding-top: 7vh
    position: relative
    width: 160vw
    height: auto
    display: flex
    justify-content: space-between
    overflow: hidden

// .firstMovie
//     position: absolute
//     opacity: 0.1
//     // background-color: white

// .thirdMovie
//     position: absolute
//     opacity: 0.1
//     // background-color: white

// .secondMovie
//     position: relative

.leftArrow
    position: relative
    cursor: pointer
    // display: hidden
    background-color: #f5c518
    color: white
    // &:hover
        // display: flex
