$base-gray: #f3f3f3
$base-yellow: #f5c518
$font-gray: #636363
@import '../MediaQueries.module'

.searchBarContainer
    position: relative
    // margin-top: -5vh
    margin-left: 20vw
    padding-top: 1vh
    width: 60vw
    height: 80px
    display: flex
    justify-content: space-around
    align-items: center
    background-color: white
    border: 1px solid white
    border-radius: 10px
    box-shadow: 0px 16px 28px rgba(141, 40, 173, 0.15)
    // @include responsive($breakpoint: tab-land)
    //     width: 600px
    //     margin-left: 15vw
    // @include responsive($breakpoint: tab-port)
    //     width: 600px
    //     margin-left: auto

    // @include responsive($breakpoint: phone)
    //     height: 3vh
    //     width: 100vw

.textInput
    background-color: $base-gray
    border: 1px solid $base-gray
    border-radius: 10px
    padding: 10px 20px
    width: 10vw

.selectInput
    // color: $base-yellow
    background-color: $base-gray
    border: 1px solid $base-gray
    border-radius: 10px
    padding: 10px 20px
    width: 10vw

.selectOption
    color: $font-gray

.btn
    width: 100px
    padding: 10px 10px
    background-color: $base-yellow
    color: white
    border-radius: 10px
    border: 1px solid $base-yellow

.searchBoxContainer
    border: 1px solid $base-gray
    border-radius: 5px
    background-color: $base-gray
    width: 40%
    height: 40px
    display: flex
    justify-content: space-around

.searchInput
    border: none
    width: 70%
    background-color: $base-gray

.searchIcon
    width: 15px
    height: auto
